.sidebar{
    height: 100%;
    display: flex;
    position: fixed;
}

.blackside{
    background: #121212;
    display: inline-block;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon{
    background: #333;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 435px) {
    .sidebar{
        display: none;
    }
}